# API Keys for Google Gemini
PRIMARY_API_KEY=AIzaSyD1HS27l8i8N5jBnSCixhGH3sRiH81i9HQ
ADDITIONAL_API_KEYS=AIzaSyCmjOVdjwv0HS623jiC9HOAupJjfv8Vy-4,AIzaSyAB2sxo8XOMvGJwYA2xCcO0UirnXZFgYsU,AIzaSyCtexeGXIZGD8wbq1tCnO4KksWMV8Mesyg,AIzaSyClfFl5ett5ZkSX4AXTvZYu5FWZuingFVE,AIzaSyDNwuBY1smor0Q29KvKZsYx5OfcmRHCVEs,AIzaSyBdi4JPa5j4ECM3Bq59a5Cw8OOyqXIGg9g,AIzaSyA9UdJlVfl3cbNHSV2iP55O-pEiQTOQCoY,AIzaSyCdQAsxXOURQqlthdCYok2BJkvk9Y_tC14,AIzaSyAI2XNKrHnH8cEkT8vPj_DFCG2HxDIXNdQ,AIzaSyDZwaidPG9aX3WFoEUbf1PTIUGLD_m3ak4,AIzaSyBS4LbwcXCOYHf_pr1mA9rDFm20QynwEBY,AIzaSyAsxIAAv2hn1Pvy1Zm6_BiOfcD9DzPgYKY,AIzaSyCUJ6mt8qSFDDYPIc99c__21tTdclufiBw,AIzaSyBhpMWYNbfmrYZHKnOWm2nELmkLpSExJGw
