@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/woff/IRANSansXWeb.woff') format('woff'),
         url('fonts/woff2/IRANSansXWeb.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/woff/IRANSansXWeb-Bold.woff') format('woff'),
         url('fonts/woff2/IRANSansXWeb-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/woff/IRANSansXWeb-Medium.woff') format('woff'),
         url('fonts/woff2/IRANSansXWeb-Medium.woff2') format('woff2');
}

* {
    font-family: IRANSansX, Tahoma, Arial, sans-serif !important;
    text-align: right;
}

body {
    font-family: IRANSansX, Tahoma, Arial, sans-serif;
    text-align: right;
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    font-family: IRANSansX, Tahoma, Arial, sans-serif;
    font-weight: bold;
    text-align: right;
}

p, div, span {
    text-align: right;
}